.bill-container {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: auto;
    background: #f8e4c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    background: #a64527;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.bill-content {
    text-align: center;
    padding: 15px;
}

h3 {
    margin-bottom: 10px;
    color: #a64527;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #f4c095;
}

input[type='number'] {
    width: 50px;
    text-align: center;
}

.pay-button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

.pay-button:hover {
    background: #218838;
}
span {
    color: white;
}
.size {
    font-size: 20;
}
.bg {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #DEC7A6;
}